@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-orange: #ffc700;
  --primary-green: #10a958;

  --background: var(--primary-orange);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-orange: #ffc700;
    --primary-green: #10a958;
  
    --background: var(--primary-orange);
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
